
<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="i/favicon.png">
    <link rel="stylesheet" href="css/amazeui.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>


<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="##" class="">
            <h2>栏目标题</h2>
            <span class="am-list-news-more am-fr">更多 &raquo;</span>
        </a>
    </div>

    <div class="am-list-news-bd">
        <ul class="am-list">

            <li class="am-g am-list-item-dated" onclick="location.href='list'">
                <a href="##" class="am-list-item-hd ">日韩美剧</a>

                <span class="am-list-date">2013-09-18</span>


            </li>
            <li class="am-g am-list-item-dated"  onclick="location.href='list'">
                <a href="##" class="am-list-item-hd ">欧美美剧</a>

                <span class="am-list-date">2013-10-14</span>


            </li>
            <li class="am-g am-list-item-dated"  onclick="location.href='list'">
                <a href="##" class="am-list-item-hd ">国内正片</a>

                <span class="am-list-date">2013-11-18</span>


            </li>
        </ul>
    </div>

</div>

<!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="home">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li data-am-navbar-share>
            <a href="###">
                <span class="am-icon-search"></span>
                <span class="am-navbar-label">搜索</span>
            </a>
        </li>
        <li data-am-navbar-qrcode>
            <a href="###">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">个人中心</span>
            </a>
        </li>

    </ul>
</div>

<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/amazeui.min.js"></script>
</body>
</html>
