<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="css/font-awesome.css">
    <!--<link rel="stylesheet" href="css/video-js.min.css">-->
    <link rel="stylesheet" href="css/amazeui.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/jquery-2.1.1.min.js"></script>
</head>
<body>
<!-- List -->
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
    <!--列表标题-->
    <div class="am-list-news-hd am-cf">
        <!--带更多链接-->
        <a href="###">
            <h2>栏目标题</h2>
        </a>
    </div>
    <div class="am-list-news-bd">
        <ul class="am-list">
            <li class="am-g">
                <a href="http://www.douban.com/online/11614662/" class="am-list-item-hd">我很囧，你保重....晒晒旅行中的那些囧！</a>
            </li>
            <li class="am-g">
                <a href="http://www.douban.com/online/11624755/" class="am-list-item-hd">我最喜欢的一张画</a>
            </li>
            <li class="am-g">
                <a href="http://www.douban.com/online/11645411/" class="am-list-item-hd">“你的旅行，是什么颜色？” 晒照片，换北欧梦幻极光之旅！</a>
            </li>
        </ul>
    </div>
    <!--更多在底部-->
    <div class="am-list-news-ft">
        <a class="am-list-news-more am-btn am-btn-default" href="###">查看更多 &raquo;</a>
    </div>
</div>
<script src="js/amazeui.min.js"></script>
<script src="js/handlebars.min.js"></script>
<script src="js/amazeui.widgets.helper.min.js"></script>
<!--<script src="js/video.min.js"></script>
<script>
    videojs.options.flash.swf = "js/video-js.swf"
</script>-->
</body>
</html>